/.luarc.json

/.quarto/

Plink/Datos/datPuros/

Plink/Datos/datQC/

Paternidad/Datos/

Imputacion/Beagle/Datos/

Imputacion/AlphaImpute

Imputacion/AlphaImpute2/Datos/

Imputacion/Imp_HD/Datos/

Simulacion/Datos

eva_genomica/BLUPF90

eva_genomica/Datos